* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(100deg, #e0c3fc, #8ec5fc);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main {
    background-color: white;
    width: 80vw; 
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 15px;
    max-width: 600px; 
}

h2 {
    font-size: 1.3rem;
    font-weight:700;
    text-align: center;
    padding: 5rem;
    letter-spacing: 0.1rem;
    border-bottom: 0.5px solid #bababa;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit; 
}

#inputAlert {
    text-align: center;
    color: red;
}


.input__task {
    width: 100%;
    border-style: none;
    padding:3rem;
    text-align: center;
}

.submit__task {
    width: 100%;
    border-style: none;
    background-color: #ba7af8;
    color: #ffffff;
    text-transform: uppercase;
    padding: 2rem;
    letter-spacing: 0.2rem;
    margin: 0; 
    font-size: 1.2rem;
    border-radius: 0 0 15px 15px; 
 
}

.submit__task:hover {
    background-color: #a67af8;
}

.submit__task:hover {
    background-color: #a67af8;
}

.container__list {
    overflow: auto;
    max-height: 90vh;
    height: 30vh; 
    display: none;
}

.container__list  div {
    display: flex;
    /* flex-direction: row;  */
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 3rem;
    border-bottom: 0.5px solid #bababa;
    font-size: 1.2rem;
}


.container__list a:hover {
    text-transform: uppercase;
    text-decoration-style: 
}

.task {
    max-width: 95%; 
}

.task, a, button, .submit__task {
    cursor: pointer;
}

.taskDiv {
    background-color: white;
}


.footer {
    display: none;
    text-align: center;
    padding: 2rem;
}

.btn--footer {
    border-style: none;
    background-color: white;
    color: #ba7af8;
    padding: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 700;
}

.btn--footer:hover {
    color:  #714999;
}


@media(max-width: 480px){

    h2{
        padding: 3rem 2rem;
        font-size:1.2rem;
    }

    .input__task {
        padding: 1.5rem;
    }

    .submit__task{
        font-size: 1rem;
    }

}
