* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(100deg, #e0c3fc, #8ec5fc);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

main {
    background-color: white;
    width: 80vw; 
    margin: 0 auto;
    margin-top: 10%;
}

h2 {
    font-size: 1.3rem;
    font-weight:700;
    text-align: center;
    padding: 2rem;
    letter-spacing: 0.1rem;
}

.inputTarefa {
    width: 100%;
    border-style: none;
    padding:3rem;
}

.submit {
    width: 100%;
    border-style: none;
    background-color: #ba7af8;
    color: #ffffff;
    text-transform: uppercase;
    padding: 1rem;
    letter-spacing: 0.2rem;
    margin: 0; 
 
}

.submit:hover {
    background-color: #8967ac;
}

.tarefa {
    display: flex;
    /* flex-direction: row;  */
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 0.5px solid #bababa;
    font-size: 1.2rem;
}

.tarefa button {
    border: none;
    background-color: #ffffff;
}

.tarefa button:hover {
    text-transform: uppercase;
}

.footer {
    text-align: center;
    padding: 2rem;
}

.btn--footer {
    border-style: none;
    background-color: #ba7af8;
    color: #ffffff;
    padding: 0.5rem;
}